<div>
  <h2 class="fs-4 fw-semibold text-center mt-5">{{ collection.title }}</h2>
  <p class="fs-6 fw-medium text-center mt-2 mb-5">{{ collection.description | escape }}</p>


  <div class="row">
    <div class="col-3">

      {% render 'collection-filter'
        , collection: collection %}
    </div>
    <div class="col-9">
      <div class="d-flex justify-content-between align-items-center my-3">
        <p class="fs-6 fw-medium">Total products: ({{ collection.products.size }})</p>

        <div class="d-flex gap-2 align-items-center">
          <label style="font-size: 14px; min-width: fit-content">Sort By:</label>
          <select class="form-control form-control-sm sort_by">
            {% for sort_by in collection.sort_options %}
              <option
                {% if sort_by.value == collection.sort_by %}
                selected
                {% endif %}
                value="{{ sort_by.value }}">{{ sort_by.name }}</option>
            {% endfor %}
          </select>
        </div>

      </div>
      {% paginate collection.products by 9 %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
          {% for product in collection.products %}
            <div class="col">
              {% render 'product-card'
                , product: product %}
            </div>
          {% endfor %}
        </div>
        <div class="d-flex justify-content-center mt-5">
          {% render 'bootstrap-paginate'
            , paginate: paginate %}
        </div>
      {% endpaginate %}
    </div>
  </div>
</div>


<script>
  Shopify.queryParams = {}
  const selector = document.querySelector('.sort_by')

  if(location.search.length) {
    for (let i = 0, keyValue, queries = location.search.substr(1).split('&'); i < queries.length; i++) {
      keyValue = queries[i].split('=');

      Shopify.queryParams[(decodeURIComponent(keyValue[0]))] = decodeURIComponent(keyValue[1])
    }
  }

  selector.addEventListener('change', function(e){

    let value = e.currentTarget.value;
    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();

  })


</script>