{% liquid
  assign product = section.settings.product
%}

<section class="container">
  <h2 class="fs-1 fw-bold text-center my-5 text-secondary">Featured Product</h2>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <div class="featured_image">
        <img
          src="{{ product.featured_image |  img_url: 'original' }}"
          alt="{{ product.title  }}"
          width="100%"
          height="600"
          class="rounded-2 shadow border-1"
          style="object-fit: cover;">
      </div>
    </div>
    <div class="col">
      {% form 'product'
        , product %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              <p class="title fw-bold fs-2">{{ product.title }}</p>
            {% when 'price' %}
              <p class="price text-primary fw-semibold">Price: {{ product.price | money }}</p>
            {% when 'description' %}
              <div class="description" style="font-size: 14px;">
                {{ product.description }}
              </div>

            {% when 'variant' %}
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>Variant</option>
                {% for variant in product.variants %}
                  <option value="1">{{ variant.title }}</option>
                {% endfor %}
              </select>

            {% when 'quantity' %}
              <div class="quantity_selector my-3">
                <input
                  type="hidden"
                  name="id"
                  value="{{ product.selected_or_first_available_variant.id }}">
                <label>Quantity:</label>
                <input
                  type="number"
                  name="quantity"
                  value="1"
                  min="1"
                  class="form-control my-3">
              </div>

            {% when 'addToCart' %}

              <div class="quantity_selector my-3">
                <div class="actions">
                  <button
                    class="btn btn-primary w-100"
                    type="submit"
                    name="add">Add to cart</button>
                </div>
              </div>

          {% endcase %}
        {% endfor %}
      {% endform %}

    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Featured product",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Select Featured product"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Product title",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Product price",
        "limit": 1
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1
      },
      {
        "type": "quantity",
        "name": "Product uqantity",
        "limit": 1
      },
      {
        "type": "variant",
        "name": "Product Variant",
        "limit": 1
      },
      {
        "type": "addToCart",
        "name": "Add to cart button",
        "limit": 1
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Product",
        "blocks": [
          {
            "type": "title"
          },
          {
            "type": "price"
          },
          {
            "type": "quantity"
          },
          {
            "type": "description"
          },
          {
            "type": "addToCart"
          }

        ]
      }
    ]
  }
{% endschema %}