{% liquid
  assign product = section.settings.product
%}

<section class="container">
  <h2 class="fs-1 fw-bold text-center my-5 text-secondary">Featured Product</h2>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <div class="featured_image">
        <img
          src="{{ product.featured_image |  img_url: 'original' }}"
          alt="{{ product.title  }}"
          width="100%"
          height="600"
          class="rounded-2 shadow border-1"
          style="object-fit: cover;">
      </div>
    </div>
    <div class="col">
      <p class="title fw-bold fs-2">{{ product.title }}</p>
      <p class="price text-primary fw-semibold">Price: {{ product.price | money }}</p>
      <div class="description" style="font-size: 14px;">
        {{ product.description }}
      </div>
      {% form 'product'
        , product %}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}">
        <div class="quantity_selector my-3">
          <label>Quantity:</label>
          <input
            type="number"
            name="quantity"
            value="1"
            min="1"
            class="form-control my-3">
          <div class="actions">
            <button
              class="btn btn-primary w-100"
              type="submit"
              name="add">Add to cart</button>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Featured product",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Select Featured product"
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Product"
      }
    ]
  }
{% endschema %}