{% liquid
  assign title = section.settings.title
  assign collection = section.settings.collection
  assign col_count = section.settings.col_count
  assign product_count = section.settings.product_count
%}


<section class="container">
  <div class=" text-center">

    {% if title != blank %}
      <h3 class="fs-3 my-5">{{ title | escape }}</h3>
    {% else %}
      <h3 class="fs-3 my-5">{{ collection.title | escape }}</h3>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-{{ col_count }} g-4">
      {% for product in collection.products limit: product_count %}
        <div class="col">
          <div class="card h-100">
            <img
              src="{{ product.featured_image |  img_url: 'medium' }}"
              class="card-img-top"
              alt="{{ product.title }}"
              width="100%"
              height="250">
            <div class="card-body ">
              <h5 class="card-title text-start">{{ product.title }}</h5>
              <p class="card-text fw-bolder text-start">{{ product.price | money }}</p>
              <a href="#" class="btn btn-primary w-100">Go somewhere</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <a href="{{ collection.url }}" class="btn btn-primary my-5">View Collection</a>
  </div>
</section>


{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "col_count",
        "label": "Column count",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "product_count",
        "label": "Product count",
        "min": 3,
        "max": 18,
        "step": 3,
        "default": 6
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}