{% liquid
  assign logo = section.settings.logo
  assign menu = section.settings.menu
  assign enable_search = section.settings.enable_search_box
%}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">

    {% if logo %}

      <img
        width="100"
        height="auto"
        src="{{logo |  image_url: width: 100}}"
        alt="{{shop.name}}">
    {% else %}
      <a class="navbar-brand" href="/">{{ shop.name }}</a>
    {% endif %}


    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        {% for link in menu.links %}
          <li class="nav-item {%if link.links.size > 0 %}dropdown{% endif %}">
            <a
              class="nav-link {% if link.links.size > 0 %}dropdown-toggle{% endif %}"
              {% if link.links.size > 0 %}
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              {% else %}
              href="{{link.url}}"
              {% endif %}>{{ link.title }}</a>


            {% if link.links.size > 0 %}
              <ul class="dropdown-menu">
                {% for dropLink in link.links %}
                  <li>
                    <a class="dropdown-item" href="{{ dropLink.url }}">{{ dropLink.title }}</a>
                  </li>

                {% endfor %}
              </ul>
            {% endif %}

          </li>
        {% endfor %}


      {% comment %} <li class="nav-item dropdown">
                          <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown link
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">Another action</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                          </ul>
                    </li> {% endcomment %}
      </ul>
    </div>
    {% if enable_search %}
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    {% endif %}
  </div>
</nav>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Select Logo",
        "info": "Recomended size 200x200px"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "Select Menu"
      }, {
        "type": "checkbox",
        "id": "enable_search_box",
        "label": "Enable Search Box",
        "default": true
      }
    ]
  }
{% endschema %}